body{
    background-color: gray;
}
.container {
    width: 90%;
    border: 1px solid black;
}
.container-fluid {
    width: 90%;
    border: 1px solid black;
}
.aueb-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: antiquewhite;
}
.fg-light {
    color: white;
}
.bg-dark {
    background-color: black;
}
.bg-primary{
    background-color: blue;
}
.icon-small {
    width: 150px;
    height: auto;
}
.course-wrapper {
    background-color: aquamarine;
}
.course-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    color: beige;
}