* {
    margin: 10px 2px;
}
.container>h2:first-of-type  {
    font-size: 24px;
}
.container >.p:first-of-type {
    color: red;
}
ul>:first-child {
    font-weight: bold;
}
ul>:nth-child(3) {
    color: green;
}